extends layout

block content
  .container
    .col-12
      .row
        h2 Seznam projevů
    .col-12
      .row
        div
          each article in articles
            a(href=`/editor/${article.slug}`)= article.title
            br

