extends layout

mixin getStatementBlock(type, text)
  case type
    when tokenFactory.STATEMENT_VERACITY_TRUE
      span(class="statement-true")
        =text
    when tokenFactory.STATEMENT_VERACITY_UNTRUE
      span(class="statement-untrue")
        =text

block content
  .container
    .row
      .col-8
        #speech
          each paragraph in paragraphs
            p
              each token in paragraph
                case token.type
                  when tokenFactory.TOKEN_HEADING
                    span.bold
                      =token.text+" "
                      br
                  when tokenFactory.TOKEN_TEXT
                    span
                      =token.text+" "
                  when tokenFactory.TOKEN_STATEMENT
                    +getStatementBlock(token.veracity, token.text)(href="/")
      .col-4#side-panel