body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

/***************************/

#speech {
  height: auto !important;
}

#speech h3 {
  margin-bottom: 10px;
}

#speech-container {
  border: 2px solid #ec653a;
  font-size: 12px;
  white-space: pre-wrap;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

.pre-selection {
  /*background-color: aqua;*/
}

.selection {
  background-color: #eccbc0;
}

.post-selection {
  /*background-color: aquamarine;*/
}

/***************************/

#control-panel {

}

#control-panel h3 {
  margin-bottom: 10px;
}

#tools {
  border: 2px solid #ec653a;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  padding: 10px;
}

#statements {
  padding-right: 10px;
  margin-bottom: 10px;
}

.statement {
  border: 2px solid #DDD;
  margin-bottom: 10px;
  font-size: 12px;
  padding: 4px;
}

.statement:hover {
  border: 2px solid #ec653a;
  cursor: pointer
}

.statement-selected {
  border: 2px solid #ec653a;
}

.statement-saved {
  background-color: #c1ecd9;
}

#save-statement-position {
  width: 100%;
  margin-bottom: 10px;
}

#remove-statement-position {
  width: 100%;
}